/* <!-- Reference code taken from class module "304-Stu_MediaQueries" --> */



/* Giving our navbar some padding and a background color */
.navbar {
  padding: 0px;
  background: white;
  
}

.navbar-brand {
  padding: 10px;
  font-size: 20px;
  background-color: white;
  color: white;
  margin-left: 15px;
  border-radius: 15px;
  
}

/* Allows border coloring of navbar selections from mouse hover */
.nav-link:hover{
  background-color:white;
  border: 5px solid rgb(101, 229, 238);

}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  background: white;
  border-radius: 15px;
  margin: 5px;
  font-size: 15px;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #b31954;
  text-decoration: none;
}


#nav-select {
  visibility: hidden;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}


/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #b31954;
  text-align: center;
}

/* Colors PLOTS options/dropdown selections */
.dropdown-item {
  color: #b31954;
  background-color: white;
}

.dropdown-item:hover {

  background-color: rgb(101, 229, 238);

} 

/* Add square border around mouse hover selections */
.navbar-brand:hover {
  color: rgb(101, 229, 238);
}


/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: rgb(235, 235, 235);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  }


/* Formatting of various font/titles */
h1 {
  font-size: 50px;
  padding-left: 15px;
  text-align: center;
  }

h2 {
    font-size: 40px;
    padding-left: 15px;
    text-align: center;
    }


h3 {
  font-size: 30px;
  padding-left: 30px;
  text-align: center;
}

h4 {
  font-size: 20px;
  padding-left: 50px;
  text-align: center;
}

h5 {
  font-size: 12px;
  padding-left: 50px;
  text-align: center;
}

h6 {
  font-size: 15px;
  text-align: center;
}

/* Formatting of paragraph settings to have indents/padding all around */
p {

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}



.container {
  display: flex;
  flex-wrap: wrap;
}


#small_image{
  width: 500%;
}

#BoldTalicLine{
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

#width100 {
  width: 100%;
}


.row {
  width: 90%;
  margin: 20px auto;
}



/* Section that governs the main graph/img locations */
.box {
  
  background-color: white;
  color: #b31954;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  display: inline-block;
  flex-wrap: wrap;
}

/* Same as main graphs, but only for the smaller preview graphs */
.smallbox {
  
  background-color: white;
  color: #b31954;
  margin-top: 10px;
  
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}


/* Enlarges main graph */
.main-image {
  
  width: 800px;
    
}


.comparison_size {

  width: 700px;
  
}

/* Sets smaller graph's sizes/positions */
.thumbnail {

  width: 190px;
  margin-right: 1px;
  border: 1px solid #b31954;
  padding-bottom: 10px;

}


/* Sets a border around small graph that matches main graph "selection" */
.selected {

  border: 5px solid rgb(101, 229, 238);

}


/* Mouse hover selection box of small graphs */
.active, .panel:hover {

  border-color: rgb(101, 229, 238);
  border-style: solid;
  border: 10px solid rgb(101, 229, 238);
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}


/* Sets the footer */
footer {
  background-color:#b31954;
  color: white;
  border-top-color: whitesmoke;
  border-top-style: dotted;
  border-top-width: 5px;
  border-top-color: rgb(101, 229, 238);
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 15px;
  min-height: 40px;
  padding-top: 5px;
  margin-bottom: -10px;
  padding-bottom: 15px;
}  

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 800 pixels */
@media (max-width: 800px) {
  .navbar {
    max-height: none;
    padding: inherit;
  }

  .navbar-brand {
    padding: 15px;
  }
  
  .navbar li {
    padding: 10px;
  }

  .navbar div {
    margin: inherit;
  }

  .navbar ul {
    visibility: hidden;
  }

  button {
    margin-right: 20px;
  }

  button:focus {
    outline: 3px dotted;
    outline: auto 3px
  }
  #nav-select {
    visibility: visible;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

}
